body {
	display: grid;
	grid-template-rows: auto auto auto;
}
#navbar {
	display: grid;
	grid-template-columns: 5fr 1fr;
}
#alerts {
	width: 50%;
	margin: auto;
}
footer {
	position: fixed;
	bottom: 0;
	height: 7vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}
