button {
  display: block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 4vh;
  font-family: inherit;
  align-self: center;
  font-family: 'Permanent Marker', cursive;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}